### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

### Images ###
# JPEG
*.jpg
*.jpeg

# Graphics Interchange Format
*.gif

# Portable Network Graphics
*.png

# Scalable Vector Graphics
*.svg
*.svgz

# Portable Document Format
*.pdf

### JupyterNotebooks ###

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/